{{#each favoriteVideo.videoFavorites as |favorite|}}
  <li>
    {{favorite.id.videoId}}
    <iframe id="player" type="text/html" width="640" height="390"
      src="http://www.youtube.com/embed/{{favorite.id.videoId}}?enablejsapi=1"
      frameborder="0"></iframe>
  </li>
{{/each}}
