<h3>Search LifeHack Videos</h3>

<form>
  <div class="form-group">
      <label for="query">Query</label>
      {{input value=query id="query"}}
  </div>
  <button {{action 'lookupForm'}}>Search</button>
</form>
