.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video {
    display: flex;
    align-items: center;
    margin-top: 50px;
    .buttons {
      align-self: flex-start;
      @extend .results;
      margin: 0 0 0 10px;
      button {
        margin: 0 0 10px 0;
        color: white;
        font-size: 1.5em;
      }
    }
  }
}
