// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  padding: 10px;
  a {
    text-decoration: none;
    font-size: 2em;
    line-height: 1em;
    @media all and (min-width: $first-break) {
      font-size: 3em;
    }
  }
  #logo {
    color: $color-orange;
  }
  #upper {
    color: $color-blue;
  }
  p {
    margin-bottom: 0px;
    @media all and (min-width: $first-break) {
      width: 500px;
      font-size: 1.1em;
    }
  }
}
