// -----------------------------------------------------------------------------
// This file contains all application-wide color variables.
// -----------------------------------------------------------------------------

$color-orange : #E94F37;
$color-blue   : #3F88C5;
$color-bg     : #E6EBE0;
