// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables (except colors).
// -----------------------------------------------------------------------------

/// Breakpoints

$first-break : 500px;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
