<div class="container">
  <header>
    {{#link-to 'index'}}
    <span id="logo"><span id="upper">LOUSY</span><br>LIFEHACKS</span>
    {{/link-to}}
    <p>
      Ever wondered what’s the fastest and most efficient way to do a simple task?<br>
      Well now you can find the absolute worst videos to instruct you!<br>
    </p>
  </header>


  {{outlet}}
</div>
