{{search-form lookupForm="lookupForm"}}


<div class="results">
  {{#each model as |video|}}
    {{i-frame video=video session=session addFavorite="addFavorite"}}
  {{/each}}
</div>

{{#if error}}
<p>No results found</p>
{{else}}
{{display-favorite}}
{{/if}}
